<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <title>{{ config('app.name') }}</title>
  <!-- Icons-->
  <link href="{{ asset('css/app.css') }}" rel="stylesheet">
  <link href="{{ asset('css/pace.css') }}" rel="stylesheet">
  <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
  <!-- Main styles for this application-->
  <!-- CSRF Token -->
  <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  
  @include('partials.header')
  
  <div class="app-body">
    
    @include('partials.sidebar')
    
    <main class="main">

      <!-- Breadcrumb-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Hello,{{Auth::user()->username}}</li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
        
          @yield('breadcrumb')
      
        </li>
      </ol>

      <!-- Main Content -->
      <div class="container-fluid">
        <div class="animated fadeIn">

          @include('partials.errors')
          @isset($blankPage)
          
          <div class="row">
         
            <div class="col-sm-3 col-lg-3">
              <div class="brand-card" style="margin-bottom:10px;">
                <!-- <div class="brand-card-header bg-behance">
                  <i class="fa fa-envelope"></i>
                </div> -->
                 @can('surat_tugas')
                <div class="brand-card-body" style="background: #f9ba03 ;color:white">
                  
                    <div class="text-value"> <span><i class="fa fa-envelope"></i></span> {{$jumlahSuratTugas}}</div>
                    <div class="text-uppercase  small">
                      <div class="container d-flex h-100">
                        <div class="row align-items-center text-center mx-auto" style="color:white">
                          
                             Surat Tugas
                        
                      </div>
                    </div>
                    </div>
                </div>
                @endcan
              </div>
              @can('surat_permohonan')
              <div class="brand-card">
                <!-- <div class="brand-card-header bg-behance">
                  <i class="fa fa-envelope"></i>
                </div> -->
                <div class="brand-card-body" style="background: salmon ;color:white">
                  
                    <div class="text-value"> <span><i class="fa fa-envelope"></i> </span>{{$jumlahSuratPermohonan}}</div>
                    <div class="text-uppercase small">
                      <div class="container d-flex h-100">
                        <div class="row align-items-center text-center mx-auto" >
                          
                             Surat Permohonan
                        
                      </div>
                    </div>
                    </div>
                </div>
                @endcan
              </div>
            </div><!--/.col-->

            

           <!--  @can('surat_permohonan')
            <div class="col-sm-6 col-lg-3">
              <div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jumlahSuratPermohonan}}</div>
                    <div class="text-uppercase text-muted small">Surat Permohonan</div>
                  </div>
                </div>
              </div>
            </div> --><!--/.col-->
            <!-- @endcan -->

            @can('acc_berkas_kp')
            <div class="col-sm-4 col-lg-4">
              <div class="brand-card ">
                <div class="brand-card-header" style="background:#00d085; color:white">
                  <div>
                    <div class="text-value-title">Verifikasi</div>
                  </div>
                </div>
                <div class="brand-card-body" style="background:#00d085; color:white">
                  <div>
                    <div class="text-value">{{$jumlahVerifikasiSuratBalasan}}</div>
                    <div class="text-uppercase small tes">Surat Balasan</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahVerifikasiBerkasKP}}</div>
                    <div class="text-uppercase small tes">Berkas KP</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahVerifikasiBerkasSeminar}}</div>
                    <div class="text-uppercase small tes">Berkas Seminar</div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
            @endcan
            @if(Auth::user()->can('acc_berkas_kp') || Auth::user()->can('acc_nilai'))
             <div class="col-sm-5 col-lg-5">
               <div class="brand-card">
                <div class="brand-card-header" style="background:#00b7ff; color:white">
                  <div>
                    <div class="text-value-title">Status Mahasiswa</div>
                  </div>
                </div> 
                <div class="brand-card-body" style="background:#00b7ff ;color:white" >
                  <div>
                    <div class="text-value">{{$jumlahSedangKP}}</div> 
                    <div class="text-uppercase small tes">Sedang KP</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahMulaiBimbingan}}</div>
                    <div class="text-uppercase small tes">Mulai Bimbingan</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSudahSeminar}}</div>
                    <div class="text-uppercase small tes">Sudah Seminar</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSelesaiKP}}</div>
                    <div class="text-uppercase small tes">Selesai</div>
                  </div>
                </div>
              </div>
             </div>
             @endcan

            
            <!-- <div class="col-sm-12 col-lg-12">
              <div class="brand-card">
                <div class="brand-card-body bg-light-blue">
                  <div>
                    <div class="text-value-title">Status Mahasiswa</div>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jumlahSedangKP}}</div>
                    <div class="text-uppercase text-muted small">Sedang KP</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahMulaiBimbingan}}</div>
                    <div class="text-uppercase text-muted small">Mulai Bimbingan</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSudahSeminar}}</div>
                    <div class="text-uppercase text-muted small">Sudah Seminar</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSelesaiKP}}</div>
                    <div class="text-uppercase text-muted small">Selesai</div>
                  </div>
                </div>
              </div>
            </div> --><!--/.col-->
            

            @can('sidebar_mhs_bimbingan')
            <div class="proposal-page">
              <div class="side-1">
                 <div class="brand-card">
                <div class="brand-card-header" style="background:#00b7ff; color:white">
                  <div>
                    <div class="text-value-title">Status Mahasiswa</div>
                  </div>
                </div> 
                <div class="brand-card-body" style="background:#00b7ff ;color:white" >
                  <div>
                    <div class="text-value">{{$jumlahSedangKP}}</div> 
                    <div class="text-uppercase small tes">Sedang KP</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahMulaiBimbingan}}</div>
                    <div class="text-uppercase small tes">Mulai Bimbingan</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSudahSeminar}}</div>
                    <div class="text-uppercase small tes">Sudah Seminar</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSelesaiKP}}</div>
                    <div class="text-uppercase small tes">Selesai</div>
                  </div>
                </div>
              </div>
              </div>
              <div class="side-2">
                <div class="brand-card">
                <div class="brand-card-header">
                  <div>
                    <div class="text-value-title" >Status Mahasiswa Bimbingan</div>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jumlahSedangKPDosen}}</div>
                    <div class="text-uppercase text-muted small">Sedang KP</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahMulaiBimbinganDosen}}</div>
                    <div class="text-uppercase text-muted small">Mulai Bimbingan</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSudahSeminarDosen}}</div>
                    <div class="text-uppercase text-muted small">Sudah Seminar</div>
                  </div>
                  <div>
                    <div class="text-value">{{$jumlahSelesaiKPDosen}}</div>
                    <div class="text-uppercase text-muted small">Selesai</div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="bimbingan-page">
              <div class="side-b-1"><div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-user"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jml_mhs_bimbingan}}</div>
                    <div class="text-uppercase text-muted small">Mahasiswa Bimbingan</div>
                  </div>
                </div>
              </div>
              @endcan
            </div>
            <!--  -->
             @can('set_dosbing')
              <div class="side-b-2">
                
                    <div class="brand-card">
                  <div class="brand-card-header bg-behance">
                    <div class="text-value">
                      <i class="fa fa-user"></i> <span>{{$jml_proposal_diajukan}}</span>
                    </div>

                  </div>
                  <div class="brand-card-body">
                    <div>
                      
                      <div class="text-uppercase text-muted small">Pengajuan Proposal</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="side-b-3">
                <div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-user"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jml_permintaan_pembimbing}}</div>
                    <div class="text-uppercase text-muted small">Permintaan Pembimbing</div>
                  </div>
                </div>
              </div>
              </div>
              <!--  -->
              <div class="side-b-4">
                <div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-user"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jml_proposal_revisi}}</div>
                    <div class="text-uppercase text-muted small">Revisi Proposal</div>
                  </div>
                </div>
              </div>
              </div>
              <!--  -->
              <div class="side-b-5">
                <div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-user"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$jumlahKPLewat}}</div>
                    <div class="text-uppercase text-muted small">Pembatalan KP</div>
                  </div>
                </div>
              </div>
              </div>
              <!--  -->
              @endcan
            </div>
          

           
            <div class="col-sm-6 col-lg-3">
              
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-3">
              
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-3">
              
            </div><!--/.col-->
            <div class="col-sm-6 col-lg-3">
              
            </div><!--/.col-->
            

            @can('isi_proposal')
             <div class="col-lg-12" style="padding:0px;">
              <div class="brand-card">
                <div class="brand-card-body bg-danger">
                    <div class="text-uppercase small">
                      <div class="container d-flex0">
                        <div class="row align-items-center text-center mx-auto" >
                          Pembimbing
                        </div>
                      </div>
                    </div>
                    <div class="middle" style="color:white">{{$pembimbing_saya}}</div>
                </div>
              </div>
            </div>
              <div class="proposal-page">
                <div side-1>
                    <div class="brand-card">
                  <div class="brand-card-body bg-success">
                    <div class="text-uppercase small">
                        <div class="container d-flex h-100">
                          <div class="row align-items-center text-center mx-auto" >
                            
                               Status Proposal
                          
                          </div>
                        </div>
                      </div>
                      <div class="middle" style="color:white">{{$status_proposal_saya}}</div>
                  </div>
                </div>
                </div>
                <div side-2>
                   <div class="brand-card">
                    <div class="brand-card-body bg-success">
                      <div class="text-uppercase small">
                          <div class="container d-flex h-100">
                            <div class="row align-items-center text-center mx-auto" >
                              
                                 Status KP
                            
                            </div>
                          </div>
                        </div>
                        <div class="middle" style="color:white">{{$status_kp_saya}}</div>
                    </div>
                  </div> 
                </div>
              </div>
              
              <div class="proposal-page">
                <div class="side-1">
                  <div class="brand-card">
                <div class="brand-card-body bg-danger">
                    <div class="text-uppercase small">
                      <div class="container d-flex h-100">
                        <div class="row align-items-center text-center mx-auto" >
                          Deadline Berkas KP
                        </div>
                      </div>
                    </div>
                    <div class="middle" style="color:white">{{$sisa_tgl_berkas}}</div>
                </div>
            </div>
                </div>
                <div class="side-2">
                  <div class="brand-card">
                    <div class="brand-card-body bg-danger">
                        <div class="text-uppercase small">
                          <div class="container d-flex">
                            <div class="row align-items-center text-center mx-auto" >
                              Deadline Seminar KP
                            </div>
                          </div>
                        </div>
                        <div class="middle" style="color:white">{{$sisa_tgl_seminar}}</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="proposal-page">
                <div class="side-1">
                  <div class="brand-card">
                <div class="brand-card-body bg-danger">
                    <div class="text-uppercase small">
                      <div class="container d-flex0">
                        <div class="row align-items-center text-center mx-auto" >
                          Berkas KP
                        </div>
                      </div>
                    </div>
                    <div class="middle" style="color:white">{{$status_berkas_kp_saya}}</div>
                </div>
              </div> 
              </div>
              <div class="side-2">
                <div class="brand-card">
                  <div class="brand-card-body bg-danger">
                      <div class="text-uppercase small">
                        <div class="container d-flex0">
                          <div class="row align-items-center text-center mx-auto" >
                            Berkas Seminar
                          </div>
                        </div>
                      </div>
                      <div class="middle" style="color:white">{{$status_berkas_seminar_saya}}</div>
                  </div>
                </div>
                </div>
            </div>

            <div class="proposal-page">
              <div class="side-1">
                  <div class="brand-card">
                <div class="brand-card-body bg-danger">
                    <div class="text-uppercase small">
                      <div class="container d-flex0">
                        <div class="row align-items-center text-center mx-auto" >
                          Surat Permohonan
                        </div>
                      </div>
                    </div>
                    <div class="middle" style="color:white">{{$surat_permohonan_saya}}</div>
                </div>
              </div>
              </div>
              <div class="side-2">
                   <div class="brand-card">
                <div class="brand-card-body bg-danger">
                    <div class="text-uppercase small">
                      <div class="container d-flex0">
                        <div class="row align-items-center text-center mx-auto" >
                          Surat Tugas
                        </div>
                      </div>
                    </div>
                    <div class="middle" style="color:white">{{$surat_tugas_saya}}</div>
                </div>
              </div>
              </div>
            </div>        
            
            
             
            @endcan

            @can('acc_nilai')
           <div class="col-sm-6 col-lg-3">
              <div class="brand-card">
                <div class="brand-card-header bg-behance">
                  <i class="fa fa-user"></i>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{$persetujuan_nilai}}</div>
                    <div class="text-uppercase text-muted small">Persetujuan Nilai</div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
            @endcan
          </div><!--/.row-->

          @can('set_dosbing')
          <table style="border-style: solid;" class="table">
            <tr>
              <td colspan="2"> Beban Dosen Pembimbing : </td>
            </tr>
            @foreach($beban_dosen as $beban)
            <tr>
              <td>({{$beban->jml_beban}})</td>
              <td>{{App\Dosen::find($beban->pembimbing)->nama}}</td>
            </tr>
            @endforeach
          </table>
          @endcan
            
          </div><!--/.row-->

          @endisset

          @yield('content')
          

        </div>
      </div>

    </main>
  </div>
  @include('partials.footer')
  <!-- Bootstrap and necessary plugins-->
  <script src="{{ asset('js/app.js') }}"></script>
  <script src="{{ asset('js/pace.min.js') }}"></script>

  {{-- @include('toast::messages-jquery') --}}

  @stack('javascript')
  
</body>
</html>